trigger: none

pool:
  name: hvpool

steps:
- task: AzureCLI@2
  displayName: 'Test Azure Login'
  inputs:
    azureSubscription: 'Academics-Pay-As-You-Go(a4d417d6-4b7d-4dbc-8702-15f88c83dc21)'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      echo "Logged in as:"
      az account show
